.o_match_inline_shadow {
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  color: #fff;
}
.one_match_wrapper {
  width: 400px;
  max-width: 98%;
  margin: 0 auto;
}
.one_match_wrapper .o_match_info {
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
}
.one_match_wrapper .o_match_info .om_info_box {
  padding: 4px;
  background: #253133;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  color: #fff;
  border-radius: 5px;
  margin-right: 3px;
}
.one_match_wrapper .o_match_box {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  background: #253133;
  padding: 6px;
}
.one_match_wrapper .o_match_box .ot_title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  color: #fff;
}
.one_match_wrapper .o_match_box .o_team_block {
  display: flex;
  flex-direction: column;
}
.one_match_wrapper .o_match_box .o_team_block .ot_team {
  display: flex;
  flex-direction: row;
  height: 38px;
  background: #253133;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  color: #fff;
  border-right: 2px solid #228B22;
}
.one_match_wrapper .o_match_box .o_team_block .ot_team.ot_home {
  border-bottom: 1px solid #228B22;
}
.one_match_wrapper .o_match_box .o_team_block .ot_team.ot_guest {
  border-top: 1px solid #228B22;
}
.one_match_wrapper .o_match_box .o_team_block .ot_team .ot_flag {
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.one_match_wrapper .o_match_box .o_team_block .ot_team .ot_flag .ot_flag_img {
  width: 100%;
  height: 30px;
}
.one_match_wrapper .o_match_box .o_team_block .ot_team .ot_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 3px;
  width: 130px;
  height: 38px;
  font-size: 16px;
  font-weight: 700;
}
.one_match_wrapper .o_match_box .o_goals_block {
  width: 38px;
}
.one_match_wrapper .o_match_box .o_goals_block .og_goal {
  width: 100%;
  text-align: center;
  background: #253133;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  color: #fff;
  border: none;
  height: 38px;
}
.one_match_wrapper .o_match_box .o_result_block {
  width: 24px;
  display: flex;
  flex-direction: column;
}
.one_match_wrapper .o_match_box .o_result_block .or_radio {
  display: none;
}
.one_match_wrapper .o_match_box .o_result_block .or_radio + label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background: #253133;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  color: #fff;
  background: grey;
  margin-bottom: 1px;
}
.one_match_wrapper .o_match_box .o_result_block .or_radio:checked + label {
  background: #228B22;
}
.one_match_wrapper .o_match_box .o_domination_block {
  width: 38px;
  display: flex;
  flex-direction: column;
}
.one_match_wrapper .o_match_box .o_domination_block .o_domination_box {
  position: relative;
  height: 76px;
  width: 38px;
}
.one_match_wrapper .o_match_box .o_domination_block .o_domination_box .o_domination_range_box {
  position: relative;
  height: 48px;
  width: 24px;
}
.one_match_wrapper .o_match_box .o_domination_block .o_domination_box .o_domination_range_box .o_domination_range {
  position: absolute;
  transform: rotate(270deg);
  width: 48px;
  height: 24px;
  top: 13px;
  left: -8px;
  cursor: pointer;
}
.one_match_wrapper .o_match_box .o_domination_block .o_dom_i {
  width: 100%;
  text-align: center;
  background: #253133;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  color: #fff;
  border: none;
  height: 26px;
}
.one_match_wrapper .o_match_box .o_cards_block .oc_yellow .bi-file-fill {
  color: yellow;
}
.one_match_wrapper .o_match_box .o_cards_block .oc_red .bi-file-fill {
  color: red;
}
.one_match_wrapper .o_match_box .o_prof_stat {
  width: 38px;
}
.one_match_wrapper .o_match_box .o_prof_stat .o_prof_input {
  width: 100%;
  text-align: center;
  background: #253133;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  color: #fff;
  border: none;
  height: 38px;
}
.one_match_wrapper .o_match_box .o_prof_stat .o_prof_input.o_yellow_i {
  background: yellow;
  color: #000;
}
.one_match_wrapper .o_match_box .o_prof_stat .o_prof_input.o_red_i {
  background: red;
  color: #000;
}
.one_match_wrapper .o_btn_block {
  position: absolute;
  display: flex;
  flex-direction: row;
}
.one_match_wrapper .o_btn_temp {
  background: #228B22;
  color: #fff;
  font-size: 12px;
  padding: 0px 6px;
  border-radius: 5px;
  margin-right: 3px;
  cursor: pointer;
  border: 1px solid transparent;
}
.one_match_wrapper .o_btn_temp:hover {
  background: #fff;
  color: #228B22;
  border: 1px solid #fff;
}
.one_match_wrapper .btn_next_match {
  background: #228B22;
  color: #fff;
  font-size: 12px;
  padding: 0px 6px;
  border-radius: 5px;
  margin-right: 3px;
  cursor: pointer;
  border: 1px solid transparent;
  background: #253133;
  text-decoration: none;
  padding: 3px 9px;
}
.one_match_wrapper .btn_next_match:hover {
  background: #fff;
  color: #228B22;
  border: 1px solid #fff;
}
.pw_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3px 6px;
  background: #228B22;
  color: #fff;
  border: 1px solid transparent;
  font-size: 12px;
  border-radius: 5px;
  margin-right: 3px;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.pw_btn:hover {
  background: #fff;
  color: #228B22;
  border: 1px solid #228B22;
}
.pw_input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #253133;
  text-decoration: none;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  margin: 0 2px;
  text-align: center;
  color: #fff;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
}
.pw_title {
  position: absolute;
  display: inline-block;
  top: -14px;
  left: 50%;
  background: #253133;
  transform: translateX(-50%);
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  color: #fff;
  border-radius: 5px;
  padding: 3px 6px;
}
.prognosis_window_wrapper {
  display: flex;
  flex-direction: column;
  padding: 4px;
  background: #253133;
  border-radius: 5px;
  margin-top: 15px;
  color: #fff;
}
.prognosis_window_wrapper .pw_teams_block {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 8px;
}
.prognosis_window_wrapper .pw_teams_block .pw_teams_title {
  position: absolute;
  display: inline-block;
  top: -14px;
  left: 50%;
  background: #253133;
  transform: translateX(-50%);
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  color: #fff;
  border-radius: 5px;
  padding: 3px 6px;
}
.prognosis_window_wrapper .pw_teams_block .pw_teams_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.prognosis_window_wrapper .pw_teams_block .pw_teams_box .pw_team {
  width: 50%;
  display: flex;
  flex-direction: row;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  color: #fff;
  border-radius: 5px;
  padding: 3px 6px;
}
.prognosis_window_wrapper .pw_teams_block .pw_teams_box .pw_team.pw_team_guest {
  justify-content: flex-end;
}
.prognosis_window_wrapper .pw_teams_block .pw_teams_box .pw_team .pw_team_flag {
  width: 24px;
  margin: 0 5px;
}
.prognosis_window_wrapper .pw_teams_block .pw_teams_box .pw_team .pw_team_flag .pw_team_flag_img {
  width: 100%;
}
.prognosis_window_wrapper .pw_goals_block {
  position: relative;
}
.prognosis_window_wrapper .pw_goals_block .pw_goals_block_title {
  position: absolute;
  display: inline-block;
  top: -14px;
  left: 50%;
  background: #253133;
  transform: translateX(-50%);
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  color: #fff;
  border-radius: 5px;
  padding: 3px 6px;
}
.prognosis_window_wrapper .pw_goals_block .pw_goals_popular {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.prognosis_window_wrapper .pw_goals_block .pw_goals_popular .pw_goals_popular_title {
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  color: #fff;
  border-radius: 5px;
  padding: 3px 6px;
}
.prognosis_window_wrapper .pw_goals_block .pw_goals_popular .pw_goals_popular_value {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.prognosis_window_wrapper .pw_goals_block .pw_goals_popular .pw_goals_popular_value .pw_goals_popular_score {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3px 6px;
  background: #228B22;
  color: #fff;
  border: 1px solid transparent;
  font-size: 12px;
  border-radius: 5px;
  margin-right: 3px;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), 0 -1px 0 rgba(0, 0, 0, 0.2);
  width: 50px;
  margin-bottom: 2px;
}
.prognosis_window_wrapper .pw_goals_block .pw_goals_popular .pw_goals_popular_value .pw_goals_popular_score:hover {
  background: #fff;
  color: #228B22;
  border: 1px solid #228B22;
}
.prognosis_window_wrapper .pw_goals_block .pw_goals_btn_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3px;
}
.prognosis_window_wrapper .pw_goals_block .pw_goals_btn_box .pw_goals_btn_ink {
  display: flex;
  flex-direction: row;
}
.prognosis_window_wrapper .pw_goals_block .pw_goals_btn_box .pw_goals_btn_ink .pw_goals_btn {
  padding: 2px 6px;
  min-width: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3px 6px;
  background: #228B22;
  color: #fff;
  border: 1px solid transparent;
  font-size: 12px;
  border-radius: 5px;
  margin-right: 3px;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.prognosis_window_wrapper .pw_goals_block .pw_goals_btn_box .pw_goals_btn_ink .pw_goals_btn:hover {
  background: #fff;
  color: #228B22;
  border: 1px solid #228B22;
}
.prognosis_window_wrapper .pw_goals_block .pw_goals_btn_box .pw_goals_input_box {
  display: flex;
  flex-direction: row;
}
.prognosis_window_wrapper .pw_goals_block .pw_goals_btn_box .pw_goals_input_box .pw_goals_i {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #253133;
  text-decoration: none;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  margin: 0 2px;
  text-align: center;
  color: #fff;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
}
.prognosis_window_wrapper .pw_domination_block {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 10px;
}
.prognosis_window_wrapper .pw_domination_block .pw_domination_title {
  position: absolute;
  display: inline-block;
  top: -14px;
  left: 50%;
  background: #253133;
  transform: translateX(-50%);
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  color: #fff;
  border-radius: 5px;
  padding: 3px 6px;
  top: -16px;
}
.prognosis_window_wrapper .pw_domination_block .pw_domination_range_block {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.prognosis_window_wrapper .pw_domination_block .pw_domination_range_block .pw_dom_i {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #253133;
  text-decoration: none;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  margin: 0 2px;
  text-align: center;
  color: #fff;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  width: 42px;
}
.prognosis_window_wrapper .pw_domination_block .pw_domination_range_block .pw_domination_range_box {
  width: 70%;
}
.prognosis_window_wrapper .pw_domination_block .pw_domination_range_block .pw_domination_range_box .pw_domination_range {
  width: 100%;
}
.prognosis_window_wrapper .pw_domination_block .pw_domination_btn_block {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.prognosis_window_wrapper .pw_domination_block .pw_domination_btn_block .pw_domination_btn_box {
  display: flex;
  flex-direction: row;
}
.prognosis_window_wrapper .pw_domination_block .pw_domination_btn_block .pw_domination_btn_box .pw_dom_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3px 6px;
  background: #228B22;
  color: #fff;
  border: 1px solid transparent;
  font-size: 12px;
  border-radius: 5px;
  margin-right: 3px;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.prognosis_window_wrapper .pw_domination_block .pw_domination_btn_block .pw_domination_btn_box .pw_dom_btn:hover {
  background: #fff;
  color: #228B22;
  border: 1px solid #228B22;
}
.prognosis_window_wrapper .pw_domination_block .pw_domination_btn_block .pw_domination_btn_box.pwd_home {
  width: 55%;
  justify-content: flex-end;
}
.prognosis_window_wrapper .pw_domination_block .pw_domination_btn_block .pw_domination_btn_box.pwd_guest {
  width: 45%;
  justify-content: flex-start;
}
.prognosis_window_wrapper .pw_card_block {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 10px;
}
.prognosis_window_wrapper .pw_card_block .pw_card_title {
  position: absolute;
  display: inline-block;
  top: -14px;
  left: 50%;
  background: #253133;
  transform: translateX(-50%);
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  color: #fff;
  border-radius: 5px;
  padding: 3px 6px;
  top: -20px;
}
.prognosis_window_wrapper .pw_card_block .pw_card_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.prognosis_window_wrapper .pw_card_block .pw_card_box .pw_card_box_color {
  display: flex;
  flex-direction: row;
  width: 50%;
}
.prognosis_window_wrapper .pw_card_block .pw_card_box .pw_card_box_color.pw_card_box_yellow {
  justify-content: flex-end;
}
.prognosis_window_wrapper .pw_card_block .pw_card_box .pw_card_box_color .pw_card_btn_box {
  display: flex;
  flex-direction: row;
}
.prognosis_window_wrapper .pw_card_block .pw_card_box .pw_card_box_color .pw_card_btn_box .pw_card_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3px 6px;
  background: #228B22;
  color: #fff;
  border: 1px solid transparent;
  font-size: 12px;
  border-radius: 5px;
  margin-right: 3px;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), 0 -1px 0 rgba(0, 0, 0, 0.2);
  min-width: 30px;
}
.prognosis_window_wrapper .pw_card_block .pw_card_box .pw_card_box_color .pw_card_btn_box .pw_card_btn:hover {
  background: #fff;
  color: #228B22;
  border: 1px solid #228B22;
}
.prognosis_window_wrapper .pw_card_block .pw_card_box .pw_card_box_color .pw_card_btn_box.pwc_btn_box_yellow .pw_card_btn {
  background: yellow;
  color: #000;
  font-weight: bold;
}
.prognosis_window_wrapper .pw_card_block .pw_card_box .pw_card_box_color .pw_card_btn_box.pwc_btn_box_red .pw_card_btn {
  background: red;
  color: #000;
  font-weight: bold;
}
.prognosis_window_wrapper .pw_card_block .pw_card_box .pw_card_box_color .pw_card_input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #253133;
  text-decoration: none;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  margin: 0 2px;
  text-align: center;
  color: #fff;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  min-width: 30px;
}
.prognosis_window_wrapper .pw_card_block .pw_card_box .pw_card_box_color .pw_card_input.c_yellow {
  background: yellow;
}
.prognosis_window_wrapper .pw_card_block .pw_card_box .pw_card_box_color .pw_card_input.c_red {
  background: red;
}
@media (max-width: 500px) {
  .one_match_wrapper .o_match_box .o_team_block .ot_team .ot_title {
    width: 115px;
  }
}
/*# sourceMappingURL=style.css.map */