.kgps_score_block {
  display: flex;
  flex-direction: row;
  gap: 1px;
}
.kgps_score_block .kgpss_el {
  display: flex;
  justify-content: center;
  font-size: 13px;
  align-items: center;
  width: 24px;
  height: 24px;
  background: #191919;
  margin: 0;
  color: #A6B2AA;
  padding: 1px 5px;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
}
.kgps_score_block .kgpss_el:first-child {
  border-radius: 5px 0 0 5px;
}
.kgps_score_block .kgpss_el:last-child {
  border-radius: 0 5px 5px 0;
}
.kgps_elem {
  display: inline-block;
  background: #191919;
  color: #A6B2AA;
  border-radius: 5px;
  margin-right: 4px;
  padding: 3px 5px;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  margin-bottom: 5px;
}
.kvn_game_wrapper {
  width: 400px;
  max-width: 98%;
  margin: 0 auto;
}
.kvn_game_wrapper .kvn_game_title_wrapper {
  width: 100%;
  background: #253133;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.kvn_game_wrapper .kvn_game_title_block {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.kvn_game_wrapper .kvn_game_title_block .kgtb_cell {
  background: #191919;
  color: #A6B2AA;
  color: #90a4ae;
  border-radius: 5px;
  margin-right: 4px;
  padding: 3px 5px;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
}
.kvn_game_wrapper .kvn_game_title_block .kgtb_cell:last-child {
  margin-right: 0;
}
.kvn_game_wrapper .kvn_game_title_block .kgtb_cell.kgtb_score {
  position: absolute;
  right: 0px;
  color: #228B22;
}
.kvn_game_wrapper .kg_prognos_wrapper {
  width: 100%;
  background: #253133;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.kvn_game_wrapper .kg_prognos_wrapper .kgps_title_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.kvn_game_wrapper .kg_prognos_wrapper .kgps_title_block .kgps_title {
  color: #009ef7;
  font-weight: 600;
}
.kvn_game_wrapper .kg_prognos_wrapper .kgps_title_block .kgps_max_score {
  color: #f1416c;
  font-weight: 600;
}
.kvn_game_wrapper .kg_prognos_wrapper .kg_prognos_stage_block .kgps_table .kgps_table_line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.kvn_game_wrapper .kg_prognos_wrapper .kg_prognos_stage_block .kgps_table .kgps_team_name {
  width: 42%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  background: #191919;
  color: #A6B2AA;
  border-radius: 5px;
  margin-right: 4px;
  padding: 3px 5px;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  margin-bottom: 5px;
}
.kvn_game_wrapper .kg_prognos_wrapper .kg_prognos_stage_block .kgps_table .kgps_input {
  width: 8%;
  border: none;
  display: inline-block;
  background: #191919;
  color: #A6B2AA;
  border-radius: 5px;
  margin-right: 4px;
  padding: 3px 5px;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  margin-bottom: 5px;
}
.kvn_game_wrapper .kg_prognos_wrapper .kg_prognos_stage_block .kgps_table .kgps_popular {
  width: 38%;
  padding: 3px 0;
  display: inline-block;
  margin-bottom: 5px;
}
.kvn_game_wrapper .kg_prognos_wrapper .kg_prognos_stage_block .kgps_table .kgps_place {
  width: 8%;
  border: none;
  display: inline-block;
  background: #191919;
  color: #A6B2AA;
  border-radius: 5px;
  margin-right: 4px;
  padding: 3px 5px;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  margin-bottom: 5px;
}
.kvn_game_wrapper .kg_prognos_wrapper .kg_prognos_stage_block .kgps_table .kgps_table_title .kgps_elem {
  color: #50cd89;
}
.kvn_game_wrapper .kg_prognos_wrapper .kg_prognos_stage_block .kgps_table .kgps_popular_block {
  display: flex;
  flex-direction: row;
}
.kvn_game_wrapper .kg_prognos_wrapper .kg_prognos_stage_block .kgps_table .kgps_popular_block .kgps_popular_btn {
  width: 25px;
  display: flex;
  justify-content: center;
  font-size: 13px;
  align-items: center;
  background: #ffc700;
  color: #191919;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 2px;
}
/*# sourceMappingURL=style.css.map */