.m_template_box {
  color: #228B22;
  padding: 2px;
  background: #253133;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  margin-right: 2px;
  font-size: 14px;
}
.matches_wrapper {
  width: 400px;
  max-width: 98%;
  margin: 0 auto;
}
.matches_wrapper .matches_title {
  display: flex;
  flex-direction: row;
  background: #8a1538;
  color: #fff;
  position: relative;
  justify-content: flex-end;
  padding: 5px;
  border-radius: 5px;
  margin-top: 85px;
}
.matches_wrapper .matches_title .matches_logo {
  position: absolute;
  width: 20%;
  bottom: 0;
  border-radius: 5px;
  background: #8a1538;
  left: 0;
}
.matches_wrapper .matches_title .matches_logo .matches_logo_img {
  width: 100%;
}
.matches_wrapper .matches_title .matches_text {
  width: 80%;
  font-weight: bold;
}
.matches_wrapper .day_line_block {
  border-top: 3px solid #253133;
  margin: 9px 0;
  border-radius: 5px;
}
.matches_wrapper .day_line_block .day_line_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.matches_wrapper .day_line_block .day_line_box .day_date {
  padding: 2px 5px;
  font-size: 16px;
  font-weight: 700;
}
.matches_wrapper .m_match_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #253133;
  padding: 0 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.matches_wrapper .m_match_box {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.matches_wrapper .m_match_box .m_time {
  min-width: 62px;
  justify-content: center;
  text-align: center;
}
.matches_wrapper .m_match_box .m_number {
  color: #228B22;
  padding: 2px;
  background: #253133;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  margin-right: 2px;
  font-size: 14px;
  min-width: 32px;
  justify-content: center;
  text-align: center;
}
.matches_wrapper .m_match_box .m_separate {
  padding: 0 3px;
  font-weight: 700;
}
.matches_wrapper .m_match_box .m_team_block {
  min-width: 213px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.matches_wrapper .m_match_box .m_team_block .m_team_box {
  min-width: 100px;
  width: 50%;
  display: flex;
  flex-direction: row;
}
.matches_wrapper .m_match_box .m_team_block .m_team_box .m_team_flag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-width: 22px;
  width: 22px;
  height: 22px;
  margin-right: 2px;
}
.matches_wrapper .m_match_box .m_team_block .m_team_box .m_team_flag .mt_flag_img {
  width: 100%;
}
.matches_wrapper .m_match_box .m_team_block .m_team_box .m_team_title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 13.5px;
}
.matches_wrapper .m_match_box .m_goals_box {
  min-width: 46px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}
.matches_wrapper .m_match_box .m_info_box {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.matches_wrapper .match_all_info_block {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.matches_wrapper .match_all_info_block .match_user_info {
  font-size: 10px;
  color: #fff;
}
.matches_wrapper .match_all_info_block .match_write_btn {
  background: #228B22;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), 0 -1px 0 rgba(0, 0, 0, 0.2);
  padding: 2px 6px;
  font-size: 10px;
  border-radius: 3px;
  text-align: center;
  border: 1px solid transparent;
  text-decoration: none;
}
.matches_wrapper .match_all_info_block .match_write_btn:hover {
  background: #fff;
  color: #228B22;
  border: 1px solid #228B22;
}
.matches_wrapper .accordion {
  background: #253133;
}
.matches_wrapper .accordion-item {
  border: 1px solid #253133;
  background: #253133 !important;
}
.matches_wrapper .accordion-item .accordion-header {
  background: #253133 !important;
}
.matches_wrapper .accordion-item .accordion-header .accordion-button {
  position: relative;
  background: #253133 !important;
  color: #228B22;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.matches_wrapper .accordion-body {
  padding: 0;
  background: #2E8B57;
}
/*# sourceMappingURL=style.css.map */