@BackGreenColor: rgba(97, 154, 56, 0.80);
//@BackGreenColor: rgba(97, 154, 56, 0.7);
@NoWrite: rgb(13, 202, 240);
@YesWrite: rgba(97, 154, 56, 1); //#619a38

@DarkColorBG: #253133;
@colorText: #e7e7e7;
@colorText2: @YesWrite;
@colorBack: #2c3e50;
@warning: rgb(204, 0, 0);
@qatar: #8a1538;

@YesWrite2: #146c43;
@color: rgb(240, 240, 240);
@colorBlur: #A6B2AA;

@darkbg: rgb(25, 25, 25);

@blue: rgb(61,123,250);
@red: rgb(255,92,92);
@green: rgb(57,218,138);
@orange: rgb(253,172,65);
@yellow: rgb(254,221,73);

@greenblur: rgb(219, 241, 153);
@yellowblur: #FFEAA1;

@pearl: rgb(116,224,230);
@purple: rgb(172,92,217);

@dark: rgb(85,88,112);
@ligth: rgb(242,242,244);

@backGrey: rgba(18,18,18,.25);

@hockei: rgb(121, 153, 168);
@football: rgb(97, 154, 56);
@cubersport: rgb(117, 80, 118);
@basketball: rgb(200, 89, 35);
@valleyball:rgb(178, 124, 60);
@tennis: rgb(234, 142, 5);
@kvn: rgb(96, 118, 158);

@billiard: rgb(77, 143, 147);
@boks: rgb(188, 97, 97);
@kerling: rgb(96, 118, 158);

@green: #2E8B57;

@maxred:#f1416c;
@maxGreen: #50cd89;
@maxYellow: #ffc700;
@maxBlue:#009ef7;
@maxdarkgrey: #90a4ae;
@maxFiol: #7239ea;

.shadow_inset {
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, .3), inset 0 0 0 200px rgba(0, 0, 0, .3), 0 1px rgba(255, 255, 255, .08);
  padding: 0 4px;
  border-radius: 3px;
}

.flex_center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper_template{
  position: relative;
  background: transparent;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  text-align: center;
  padding: 0 24px;

}

.shadow_template{
  box-shadow: 0 4px 8px 0 rgba(45, 54, 65, 0.75);
}

.title_wrapper {
  background: @DarkColorBG;
  padding: 4px;
  border-radius: 5px;
  color: @colorText;
  margin-top: 25px;

  .title {
    .shadow_inset;
  }
}

.table_temp {
  margin: 0;
  border-radius: 5px;

  th, td {
    padding: 2px;
    font-size: 11px;
  }

}